html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.btncenter {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }

.whoareyoudiv{
    padding: 10px;
    background: white;
    width: 70%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-menu{
    max-height: 100%;
    overflow-y: scroll;
    alignment: center;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #3AAFA9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 10px 10px 50px #17252A;
    -webkit-box-shadow: 10px 10px 50px #17252A;
    -moz-box-shadow: 10px 10px 50px #17252A;
    border-radius: 20px;
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 0px solid white;
}

.form_container {
margin-top: 100px;
}

.black{
    background: #2B7A78;
}

.profile_pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px solid white;
}

.home-menu{
    height:auto;
    width: 70%;
    background: #E3AFBC;
    box-shadow: 2px 2px 20px #9A1750;
    border-radius: 10px;
    color: white;
}


.calendar-container {
  width: 100%;
  height: 100%;
  background-color: #efe2ba;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.calendar {
  width: 400px;
  height: 452px;
    margin: auto;
  background-color: #0b233a;
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 70px;
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 1.2em;
  cursor: pointer;
}

.month h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1em;
}


.month p {
  font-size: 1em;
}


.weekdays {
  width: 100%;
  height: 3em;
  padding: 0 0.4em;
  display: flex;
  align-items: center;
    border: 1px solid white;
}


.weekdays div {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.days div {
  font-size: 0.8em;
  margin: 0.2em 0.2em;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
}

.days div:hover{
      cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #003366;
}